
:root {
  
    --background-color2:#f5f5f5;
    --text-color: #333;
  }
  
  [data-dark-mode="true"] {
    --background-color: #333;
    --background-color2:#333;
    --text-color: #fff;
  }
  
.header{
    width: 100%;
    min-height: 70px;
    background: var(--background-color2) !important;
   
    position: sticky;
    top: 0;
    z-index: 2000;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 -7px 8px 5px rgba(0,0,0,0.5);

}