/* styles.css */
:root {
    --background-color: #fff;
    --text-color: #333;
  }
  
  [data-dark-mode="true"] {
    --background-color: #333;
    --text-color: #fff;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }