:root {
  --background-color: #fff;
  --background-color2:#f5f5f5;
  --text-color: #333;
}

[data-dark-mode="true"] {
  --background-color: #3b3b3b;
  --background-color2:#333;
  --text-color: #fff;
}


.container {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;

}

.bigsidebar {
  width: 230px;
  background: var(--background-color) !important;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  display: flex;
  transition: width 0.3s ease;
  color: var(--text-color) !important
}

@media screen and (max-width: 750px) {
  .bigsidebar {
    display: none !important;
  }

  .smallSidebar {
    display: none !important;
  }

  .open {
    display: none;
  }

  .cross {
    display: none;
  }

  .main {

    flex: 1;
    overflow-x: hidden;
  }

}

.smallSidebar {
  width: 80px;
  background: var(--background-color) !important;
  overflow-y: auto;

  color:  var(--text-color) !important;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
}

.main {
  flex: 1;
  display: flex !important;
  flex-direction: column;
  overflow-y: auto;

  background: var(--background-color2) !important;
}

.cross {
  position: fixed;
  top: 10px;
  left: 213px;
  z-index: 9999;
  cursor: pointer;
}

.open {
  position: fixed;
  top: 10px;
  left: 25px;
  z-index: 9999;
  cursor: pointer;
}